:root {
    --maincolor:#000000;
    --secondcolor:#EDEDED;
    --thirdcolor:#2C2C2C;
    --main-font:"Inter";
    
}
.shop-btn {

    border-width: .5px;
    padding: 16px 56px;
    color: white;
    font-family: var(--main-font);
    border-color: #FFFFFF;
}
.shop-btn-dark {
    border-width: .5px;
    padding: 16px 56px;
    color: black;
    font-family: var(--main-font);
    border-color: black;
}