body {
    height: 5000px;
    font-family: var(--mainfont);
}

/* start navbar section */
.cyber-navbar .nav-item {
    margin-right: 52px;

}

.cyber-navbar-sub {
    padding-right: 52px;
}

.cyber-navbar form {
    width: 372px;
    height: 56px;
    margin-right: 52px;
    position: relative;
    display: flex;
    align-items: center;
    border: none;
    outline: none;

}

.cyber-navbar form span {
    position: absolute;
    padding-left: 1rem;
}

.cyber-navbar form input {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #F5F5F5;
}

.cyber-navbar form input::placeholder {
    color: #989898;

}

/* end navbar section */

/* star hero section */
.hero {
    background-color: var(--maincolor);


}

.left-side {
    position: absolute;
    bottom: 160px;
    justify-content: center;
    align-items: center;
}

.left-side h2 {
    font-family: var(--main-font);
    font-size: 25px;
    color: #909090;
}

.hero-iphone {
    font-family: var(--main-font);
    font-weight: lighter;
    font-size: 96px;
    color: #FFFFFF;
}

.hero-iphone span {
    font-family: var(--main-font);

    font-size: 96px;
    color: #FFFFFF;
    padding-left: 30px;
    font-weight: bold;
}

.left-side p {
    font-family: var(--main-font);
    color: #909090;
    font-size: 18px;
}

.hero .shop-btn {

    border-width: .5px;
    padding: 16px 56px;
    color: white;
    font-family: var(--main-font);
    border-color: #FFFFFF;
}

.right-side img {
    width: 406px;
    height: 632px;
    position: absolute;
    right: 160px;
    bottom: 0;
    padding-top: 100px;

}

/* end hero section */

/* start banner section*/
.banners {
   display: flex;
}
.Big-Banner{
background-color: #EDEDED;
}
.Left-Banners .top {
display: flex;
align-items: center;
}
.Left-Banners .right-bottom{
background-color: #353535 ;
}
.Left-Banners .left-bottom{
background-color:#EDEDED ;
}


/* end banner section*/

/* start footer section */
.footer {
    background-color: var(--maincolor);
  padding-top: 90px;
  padding-bottom: 104px;
}

   

.left-footer p {
   color: #CFCFCF;
   font-size: 14px;
   font-weight: lighter;
   font-family: var(--main-font);
   
}
.right-footer a {
    text-decoration: none;
    color:#CFCFCF;
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: lighter;

    
}
.custom-f {
    font-size: 16px;
    font-weight: bold;
    color: white;
}
.arrang-footer {
    padding-left: 113px;
    gap:130px
   
}
.footer-servive {
    gap: 8px;
   
}
.footer-Assist {
    gap: 8px;
}
.footer-icons {
    padding-top: 160px;
    display: flex;
    gap: 33px;
}
/* end footer section */